body {
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

header.header {
    height: 79vh;
    padding: 20px;
}

img{
    width: 300px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    float: right;
}

li a{
    
    text-decoration: none;
    color: white;
}

li a:hover{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.header{
    background-image: url(images/cafe.jpg);
    background-size: cover;
    background-position: center;
}

.affiche{
    padding: 20px;
}

h1{
    font-size: 60px;
    color: white;
    animation-duration: 5s;
    animation-name: ecrire;
}

@keyframes ecrire{
    0%{
        margin-left: 100%;
    }
}

.desc{
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 150px;
}

/* pour les icon*/

.premier{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perso-icon{
    font-size: 50px;
    color: rgba(41, 14, 14, 0.822);
}

/*les titres de section*/

.titre-section{
    font-size: 40px;
    font-family: 'Times New Roman', cursive;
    font-weight: 80px;
    position: relative;
}

/*.sec1::after{
    content: "";
    position: absolute;
    background-color: rgb(185, 67, 67);
    width: 170px;
    height: 5px;
    bottom: 0;
    left: 240px;
}

.sec2::after{
    content: "";
    position: absolute;
    background-color: rgb(185, 67, 67);
    width: 335px;
    height: 5px;
    bottom: 0;
    left: 195px;
}

.sec3::after{
    content: "";
    position: absolute;
    background-color: rgb(185, 67, 67);
    width: 420px;
    height: 5px;
    bottom: 0;
    left: 130px;
}*/


.titre-section span{
    color: rgb(185, 67, 67);
}

/* pour les section des vues*/

/* pour peaople*/
.people{
    margin: 30px;
}

.commun{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.com{
    position: relative;
    background-size: cover;
    background-position: center;
    
}

.no-grid{
    min-width: 200px;
    height: 350px;
    flex: 1;
}

.com1{
    background-image: url(images/ensemble1.jpg);
}

.com2{
    background-image: url(images/ensemble2.png);
}

.com3{
    background-image: url(images/ensemble3.jpg);
}

.com4{
    background-image: url(images/ensemble4.jpg);
}

.com5{
    background-image: url(images/ensemble\ 4.png);
}

.details{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-weight: 200;
}

/*pour apprendre*/

.learn{
    margin: 30px;
}

.sec-learn{
    position: relative;
}

.grid-apprendre{
    display: grid;
    min-height: 150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 400px);
}

.grid1{
    background-image: url(images/apprendre.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid2{
    background-image: url(images/apprendre1.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 3/5;
}

.grid3{
    background-image: url(images/apprendre2.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 3/5;
}

.grid4{
    background-image: url(images/apprendre3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/6;
}

/*pour reussir*/

.succes{
    margin: 30px;
}

.sec-suc{
    position: relative;
}

.reussir{
    display: grid;
    min-height: 150px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
}

.grid-fin1{
    background-image: url(images/reussir1.jpg);
    background-size: cover;
    background-position: center;
}

.grid-fin2{
    background-image: url(images/accroitre.jpg);
    background-size: cover;
    background-position: center;
}

.grid-fin3{
    background-image: url(images/gangez\ 3.png);
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
}


/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500px;
    margin-top: 20px;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

footer img{
    background-color: rgb(155, 155, 0);
    width: 150px;
}

footer a{
    text-decoration: none;
    color: white;
}
